<form #f [formGroup]="form" (ngSubmit)="onSubmit()" name="course-edit-form">
  <div class="course-edit-container">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Title</label>
          <input
            type="text"
            formControlName="title"
            class="form-control"
          >
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label>Description</label>
          <textarea
            type="text"
            formControlName="description"
            class="form-control"
          >
            </textarea>
        </div>
      </div>
      <div class="col-md-12">
        <app-date-input formControlName="date" format="DD/MM/YYYY"></app-date-input>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label>Duration</label>
          <input
            type="number"
            formControlName="duration"
            class="form-control"
            >
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label>Authors</label>
          <input
            type="text"
            formControlName="authors"
            class="form-control"
          >
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <button class="btn btn-success pull-right mr-5" (click)="onClickCancel()">Cancel</button>
          <button type="submit" class="btn btn-success pull-right" [disabled]="form.invalid" (click)="onClickSave()">Save</button>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</form>
